<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Admin.css" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="header">
        @Html.Action("Menu", "Account")
        <div class="title">Musicity - Admin pages</div>
    </div>
    <div id="tables">
        @{ Html.RenderAction("Menu", "AdminNav"); }
    </div>
    <div id="content">
        @if (TempData["message"] != null)
        {
            <div class="validation-summary-errors">@TempData["message"]</div>
        }
        @RenderBody()
        <div style="position: fixed; text-align: left; padding-top: 1.5em">All the Time values are in Universal Time Format</div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>