@model Mvc.PL.ViewModels.AdminPages.AdminPagesTopicViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit Topic</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
        </div>

        @Html.HiddenFor(model => model.CreationTime)
        @Html.HiddenFor(model => model.CreatorId)
        @Html.HiddenFor(model => model.CategoryId)

        <p>
            <input type="submit" value="Update" style="background-color: #333; border: 1px solid black; color: White; padding: 0.4em 1em; text-decoration: none;" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}