@model IEnumerable<Mvc.PL.ViewModels.AdminPages.AdminPagesCategoryViewModel>

@{
    ViewBag.Title = "Musicity - Admin pages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="Grid">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Creation Time</th>
        <th>Created by</th>
        <th>Actions</th>
    </tr>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Name</td>
            <td>@category.Description</td>
            <td>@category.CreationTime.ToShortDateString()</td>
            <td>@category.Creator.Name</td>
            <td>
                @using (Html.BeginForm("DeleteCategory", "Admin"))
                {
                    @Html.Hidden("id", category.Id)
                    <input type="submit" value="Delete" />
                }
            </td>
        </tr>
    }
</table>

<p>@Html.ActionLink("+ New Category", "CreateCategory")</p>