@model IEnumerable<Mvc.PL.ViewModels.AdminPages.AdminPagesReplyViewModel>

@{
    ViewBag.Title = "Musicity - Admin pages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="Grid">
    <tr>
        <th>Written by</th>
        <th>Written Time</th>
        <th>Content</th>
        <th>Belongs to Post</th>
        <th>Actions</th>
    </tr>
    @foreach (var reply in Model)
    {
        <tr>
            <td>@Html.ActionLink(reply.Writer.Name, "EditReply", new { reply.Id })</td>
            <td>@Html.ActionLink(reply.WrittenTime.ToString(), "EditReply", new { reply.Id })</td>
            <td>@reply.Content</td>
            <td>@reply.Post.Name</td>
            <td>
                @using (Html.BeginForm("DeleteReply", "Admin"))
                {
                    @Html.Hidden("id", reply.Id)
                    <input type="submit" value="Delete"/>
                }
            </td>
        </tr>
    }
</table>

<p>@Html.ActionLink("+ New Reply", "CreateReply", null, new { style = "background-color:#333;border:1px solid black;color:White;line-height:4.5em;padding:0.4em 1em;text-decoration:none;" })</p>