@model IEnumerable<Mvc.PL.ViewModels.AdminPages.AdminPagesPostViewModel>

@{
    ViewBag.Title = "Musicity - Admin pages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="Grid">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Creation Time</th>
        <th>Created by</th>
        <th>Belongs to Topic</th>
        <th>Actions</th>
    </tr>
    @foreach (var post in Model)
    {
        <tr>
            <td>@post.Name</td>
            <td>@post.Description</td>
            <td>@post.CreationTime.ToShortDateString()</td>
            <td>@post.Creator.Name</td>
            <td>@post.Topic.Name</td>
            <td>
                @using (Html.BeginForm("DeletePost", "Admin"))
                {
                    @Html.Hidden("id", post.Id)
                    <input type="submit" value="Delete"/>
                }
            </td>
        </tr>
    }
</table>

<p>@Html.ActionLink("Add a new Post", "CreatePost")</p>