@model IEnumerable<Mvc.PL.ViewModels.AdminPages.AdminPagesReplyViewModel>

@{
    ViewBag.Title = "Musicity - Admin pages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="Grid">
    <tr>
        <th>Written by</th>
        <th>Written Time</th>
        <th>Content</th>
        <th>Belongs to Post</th>
        <th>Actions</th>
    </tr>
    @foreach (var reply in Model)
    {
        <tr>
            <td>@reply.Writer.Name</td>
            <td>@reply.WrittenTime</td>
            <td>@reply.Content</td>
            <td>@reply.Post.Name</td>
            <td>
                @using (Html.BeginForm("DeleteReply", "Admin"))
                {
                    @Html.Hidden("id", reply.Id)
                    <input type="submit" value="Delete" />
                }
            </td>
        </tr>
    }
</table>